DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
SCHEDULE_EXPRESSIONS=cron(* * * * * *)
ENVIRONMENT=
